@media (min-width: 425px) {
    .header--container-description {
        height: 200px;
    }
}

@media (min-width: 500px) {
    .header--ilustration-intro {
        top: 80px;
    }
    
    .header--ilustration-intro img {
        width: 100%;
        height: 260px;
        max-width: 390px;
    }

    .header--container-description {
        height: 250px;
        margin-top: 340px;
        background-image: url(../assets/images/bg-curvy-desktop.svg);
    }

    .header--description {
        max-width: 450px;
    }

    .header--container-description h1 {
        margin: -30px 0 20px;
    }

    .header--container-description p {
        margin-bottom: 20px;
    }

    main {
        padding: 250px 20px 250px;
    }

    .attribution p {
        font-size: 1.1rem;
    }
    
    .attribution a {
        font-size: 1.3rem;
    }
}

@media (min-width: 810px) {
    header {
        height: 90vh;
    }
    
    .header--container {
        padding: 30px 50px 0;
    }

    .header--ilustration-intro {
        top: 100px;
    }

    .header--ilustration-intro img {
        height: 280px;
        max-width: 410px;
    }

    .header--container-description {
        height: 300px;
        margin-top: 375px;
    }

    .header--container-description h1 {
        margin: -40px 0 20px;
        font-size: 2.4rem;
        line-height: 3.8rem;
    }

    main {
        padding: 200px 20px 250px;
    }

    .main--container-service {
        max-width: 810px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        position: relative;
        z-index: 2;
    }

    .main--services {
        height: auto;
        max-width: 380px;
        padding: 0 14px;
    }

    .main--services .anywhere {
        width: 50px;
        height: 48px;
    }

    .main--services .secure {
        width: 50px;
        height: 58px;
        margin-bottom: 12px;
    }

    .main--container-productivity {
        height: 350px;
        max-width: 850px;
        margin: 0 auto 80px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main--illustraton-stay {
        max-width: 400px;
        justify-content: flex-start;
    }

    .main--illustraton-stay img {
        height: 260px;
        max-width: 340px;
    }
}

@media (min-width: 950px) {
    .header--container {
        padding: 50px 60px 0;
    }

    .header--logo img {
        width: 110px;
        height: 32px;
    }

    nav ul li {
        margin-left: 50px;
    }

    nav ul li a {
        font-size: 1.4rem;
    }

    .header--ilustration-intro {
        top: 110px;
    }

    .header--ilustration-intro img {
        height: 340px;
        max-width: 480px;
    }

    .header--description {
        max-width: 500px;
    }

    .header--container-description {
        height: 450px;
        margin-top: 420px;
    }

    .header--container-description h1 {
        margin: -40px 0 25px;
        font-size: 2.8rem;
        line-height: 4rem;
    }

    .header--container-description p {
        margin-bottom: 35px;
        font-size: 1.6rem;
    }

    main {
        padding: 280px 20px 250px;
    }

    .main--container-service {
        max-width: 950px;
    }

    .main--container-icon {
        position: absolute;
    }

    .main--container-profiles .main--container-icon figure img {
        width: 45px;
        left: -5px;
        bottom: -8px;
        position: absolute;
    }

    .main--container-profiles {
        max-width: 1024px;
        margin: 0 auto;
        padding: 50px 0 0;
        display: flex;
        justify-content: space-between;
    }

    .main--container-profiles .main--profiles {
        max-width: 310px;
        box-shadow: 6px 6px 6px hsl(216deg 52% 8%);
        z-index: 2;
    }

    .main--container-profiles .main--profiles > p {
        font-size: 1.2rem;
        letter-spacing: .4px;
    }

    .main--registration {
        max-width: 800px;
        margin-top: 130px;
    }

    .main--container-registration h3 {
        font-size: 2.6rem;
    }

    .main--container-registration p {
        padding: 0 40px;
    }

    form {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .main--container-registration input {
        padding: 13px 250px 11px 30px;
        margin-bottom: 0;
    }

    .main--container-registration button {
        padding: 12px 30px;
    }

    .footer--container {
        width: 100%;
        max-width: 100%;
        display: flex;
    }

    .footer--container-contact {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .footer--container-contact .location {
        width: 100%;
        max-width: 350px;
    }

    .footer--section {
        margin: 0;
    }

    .footer--section {
        margin: 0;
    }

    .footer--rrss {
        margin-left: 40px;
        align-items: end;
    }
}

@media (min-width: 1250px) {
    .main--container-productivity {
        height: 450px;
        max-width: 100%;
        justify-content: space-evenly;
    }

    .main--illustraton-stay {
        max-width: 550px;
    }
    
    .main--illustraton-stay img {
        width: 100%;
        height: 400px;
        max-width: 550px;
    }

    .container--pruductivity-description {
        width: 470px;
    }

    main {
        padding: 180px 20px 250px;
    }

    .main--container-productivity h2 {
        padding-right: 80px;
        font-size: 3.2rem;
        line-height: 4rem;
    }

    .footer--rrss {
        margin-left: 80px;
    }
}